<div class="right">
  <div class="user-data" ng-click="toggleDropdown()">
    <div class="avatar">
      <img src="https://scontent-waw1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11951754_474236086090221_1040259607680958282_n.jpg?oh=1c5d44536d9b073975af5a21374d3f04&oe=569C6AE1" alt="" class="img" />
    </div>
    <div class="name">
      {{ user.firstName }} {{ user.lastName }}
    </div>
  </div>
  <div class="dropdown" ng-show="isOpen">
    <ul>
      <li>
        <a href="#">
          <i class="icon-cog"></i>Settings
        </a>
      </li>
      <li>
        <a href="#" ng-click="signout()">
          <i class="icon-forward"></i>Sign out
        </a>
      </li>
    </ul>
  </div>
</div>
