<div class="right">
  <div class="user-data" ng-click="toggleDropdown()">
    <div class="avatar">
      <img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user3-128x128.jpg" alt="" class="img" />
    </div>
    <div class="name">
      First Last
    </div>
  </div>
  <div class="dropdown" ng-show="isOpen">
    <ul>
      <li>
        <a href="#">
          <i class="icon-cog"></i>Settings
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-forward"></i>Log out
        </a>
      </li>
    </ul>
  </div>
</div>
