<div class="settings">
  <h2 class="page-header">Profile Details</h2>


  <div class="profile">
    <div class="profile-item left">
      <div class="avatar">
        <img
          ng-src="http://gravatar.com/avatar/658f2039885a85cc03cc31e20919bed6?s=512"
          width="120" height="120" class="avatar-image" alt="" />
      </div>
      <div class="info">
      </div>
    </div>
    <div class="profile-item">
      <div class="profile-info">
        <div class="item">
          <strong>Email:</strong> email@example.com
        </div>
        <div class="item">
          <strong>Username:</strong> username
        </div>
        <div class="item">
          <strong>First Name:</strong> First Name
        </div>
        <div class="item">
          <strong>Last Name:</strong> Last Name
        </div>
      </div>
    </div>
  </div>
</div>
