* {
  margin: 0;
  padding: 0;
}

#map {
  width: 60%;
}

.header {
  background: #000;
  height: 50px;
  color: #fff;

  h2 {
    margin-left: 10px;
  }
}

.or-email {
  cursor: pointer;
  color: #ccc;
}

.centered {
  text-align: center;
}
