@import "settings";

* {
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid #eee;
  height: 60px;
  color: #fff;

  h2 {
    margin-left: 10px;
    color: #666;
  }
}

.or-email {
  cursor: pointer;
  color: #ccc;
}

.centered {
  text-align: center;
}

.header {
    .left {
      float: left;
      display: inline-block;

      h3 {
        color: lightblue;
      }
    }

    .right {
      float: right;
      display: inline-block;

      .user-avatar {
        vertical-align: middle;
        cursor: pointer;

        img {
          border-radius: 20px;
          border-radius: 100%;
          margin: 10px;
          display: inline-block;

          float: left;
        }

        .uname {
          display: inline-block;
          margin: 20px 0;
        }

        span {
          color: #666;
        }
      }
    }
}

.dropdown {
  width: 200px;


  box-shadow: 0 0 0 1px #ccc;
  color: #666;

  position: absolute;

  ul {
    li {
      padding: 10px;
      cursor: pointer;
      display: block;
      list-style: none;

      &:hover {
        background: #eee;
      }
    }
  }
}

.input {
  border: 2px solid #ccc!important;
  width: 400px;
  height: 45px!important;
  font-size: 17px;

  &:focus {
    border: 2px solid lightblue!important;
  }

  &.ng-valid {

    &.ng-dirty {
      border: 2px solid lightgreen!important;
    }
  }
}

.page-header {
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: left;
}
