.box-box-danger {
  border-radius: 3px;
  background: #fff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;

  .box-header-with-border {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
  }
  .box-body-no-padding {
    .users-list-clearfix {
      li {
        float: left;
        height: 101pt;
        width: 101pt;
        margin: 10pt;
        padding: 10pt;
        float: left;
        text-align: center;
        list-style: none;

        img {
          height: 101pt;
          width: 101pt;
          border-radius: 50pt;
        }
        a {
          color: #444;
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-decoration: none;
        }
        span {
          color: #999;
          font-size: 12px;
        }
      }
    }
  }
}
