<div class="wrapper">
  <header class="header">
    <h4>
      <strong>Tour</strong>Social
    </h4>
    <div class="right">
      <div class="">
        <div class="avatar">
          <img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user3-128x128.jpg" alt="" class="img" />
        </div>
        <div class="name">
          First Last
        </div>
      </div>
      <div class="dropdown">
        <ul>
          <li>
            <a href="#">
              <i class="icon-cog"></i>Settings
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-forward"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="sidebar">
     <div ui-view="sidebar"></div>
  </div>
  <div class="main">
    <div ui-view="content"></div>
  </div>
</div>
