<div class="sidebar-wrapper">
  <div class="user-avatar">
    <img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user3-128x128.jpg" alt="" class="img" />
    <div class="name">First Last</div>
  </div>
  <div class="user-info">
    <div class="follow">
      <div class="number">5</div>
      <div class="">
        Followers
      </div>
    </div>
    <div class="follow">
      <div class="number">5</div>
      <div class="">
        Followed
      </div>
    </div>
  </div>
  <nav class="nav">
    <li>
      <a>
        <i class="icon-map-marker"></i>Trips
      </a>
    </li>
    <li>
      <a>
        <i class="icon-users"></i>Followers
      </a>
    </li>
    <li>
      <a>
        <i class="icon-users"></i>Followed
      </a>
    </li>
  </nav>
</div>
