<div class="sidebar-wrapper">
  <div class="user-avatar">
    <img src="https://scontent-waw1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11951754_474236086090221_1040259607680958282_n.jpg?oh=1c5d44536d9b073975af5a21374d3f04&oe=569C6AE1" alt="" class="img" />
    <div class="name">First Last</div>
  </div>
  <div class="user-info">
    <div class="follow">
      <div class="number">5</div>
      <div class="">
        Followers
      </div>
    </div>
    <div class="follow">
      <div class="number">5</div>
      <div class="">
        Followed
      </div>
    </div>
  </div>
  <nav class="nav">
    <li>
      <a ui-sref="base.trips">
        <i class="icon-map-marker"></i>Trips
      </a>
    </li>
    <li>
      <a ui-sref="base.followers">
        <i class="icon-users"></i>Followers
      </a>
    </li>
    <li>
      <a>
        <i class="icon-users"></i>Followed
      </a>
    </li>
  </nav>
</div>
