<div class="routewrap">
  <div class="routemap">.</div>
  <div class="routetitle">Тернопіль-Львів-Краків</div>
  <div class="routedescription">

    Подорож - єдина річ, купуючи яку, стаєш багатшим (автор невідомий)

Життя під час подорожі - це мрія в чистому вигляді (Агата Крісті)

Тільки про дві речі ми будемо шкодувати на смертному одрі - що мало любили і мало подорожували (Марк Твен)


  </div>
</div>

<div class="routewrap">
  <div class="routemap">.</div>
  <div class="routetitle">Львів-Київ</div>
