<div class="photo">
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
    <div class="photo_img"><a href="#"><img ng-src="images/user4-128x128.jpg" alt="" /></a></div>
</div>
