<div class="row">
  <div class="eleven columns">
      <h2>Sign up</h2>
  </div>
  <div class="three columns">

  </div>
  <div class="six columns">
    <div>
      <div>
        <div class="facebook centered">
          <facebook-button></facebook-button>
        </div>
        <div class="centered">
          <div class="or-email" class="u-full-width" ng-click="showEmail=!showEmail">Or email</div>
        </div>
        <div ng-show="showEmail">
          <div>
            <div><input class="u-full-width" type="text" placeholder="Email"></div>
            <div><input class="u-full-width" type="password" placeholder="password"></div>
            <div><input class="u-full-width" type="text" placeholder="First Name"></div>
            <div><input class="u-full-width" type="text" placeholder="Last Name"></div>
            <div>
              <button type="button" class="button-primary" name="button">Sign up</button>
            </div>
          </div>
        </div>
        <div class="centered">
            <a ui-sref="account.signin">Sign in</a>
        </div>
      </div>
    </div>
  </div>

</div>
