<div class="row">
  <div class="eleven columns">
    <h2>Sign in</h2>
  </div>
  <div class="centered">
    <div>
      <input class="input" type="email" ng-model="user.email" placeholder="Email" required>
    </div>
    <div>
      <input class="input" type="password" ng-model="user.password" placeholder="Password" required>
    </div>
    <div>
      <button type="button" class="button-primary" ng-click="signin()" name="button">Sign in</button>
    </div>
  </div>
  <div class="centered">
    <a ui-sref="account.signup">Sign up</a>
  </div>
</div>
