<div class="wrapper">
  <div class="login-wrapper">
    <div class="signin">
      <h2>Sign up</h2>

      <form name="login-form">
        <div class="input-group">
          <input ng-model="account.email" type="text" name="email" value="" placeholder="Email"/>
        </div>
        <div class="input-group">
          <input ng-model="account.password" type="password" name="password" value="" placeholder="Password"/>
        </div>
        <div class="input-group">
          <input ng-model="account.firstname" type="text" name="firstname" value="" placeholder="First"/>
        </div>
        <div class="input-group">
          <input ng-model="account.lastname" type="text" name="lastname" value="" placeholder="Last"/>
        </div>

        <div class="input-group">
          <button type="button" ng-click="signup()" name="button">Sign up</button>
        </div>
      </form>
    </div>
  </div>

</div>
